<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../shared/cs-styles.html">

<dom-module id="cs-chat-box">
  <template>
    <style include="cs-styles">
      :host {
        display: flex;
        flex-wrap: wrap;
        position: relative;
      }
      
      paper-button {
        margin: 0;
        border-radius: 0 3px 3px 0;
        background: rgba(0, 0, 0, .1);
      }

      .text-box {
        display: flex;
        flex-basis: 100%;
        justify-content: flex-end;
      }

      #textarea {
        flex-basis: 100%;
        padding: 0 1rem;
        background:#fff;
      }

      #messages {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        max-height: 40vh;
        flex-direction: row-reverse;
        margin-bottom: 1rem;
        overflow-y: scroll;
      }

      .message {
        display: flex;
        flex-basis: 100%;
        margin: 0 0 0.7rem;
      }

      .message.self {
        justify-content: flex-end;
      }

      .message p {
        display: inline-block;
        padding: 0.7rem 1rem;
        margin: 0;
        background: #ccd;
      }

      .message.self p {
        background: #dcd;
      }
    </style>
    <div id="messages" hidden$=[[!messages.length]]>
      <template is="dom-repeat" items=[[messages]] as="message">
        <div class$="message [[_messageClass(userId, message)]]">
          <p>[[message.text]]</p>
        </div>
      </template>
      <div hidden$=[[!waiting]] class="message">
        <p>...</p>
      </div>
    </div>
    <div class="text-box">
      <paper-textarea id="textarea" value={{draft}} hidden$=[[!open]]></paper-textarea>
      <paper-button hidden=[[open]] on-tap=_open>chat with us :)</paper-button>
      <paper-button hidden=[[!open]] on-tap=_send>send</paper-button>
    </div>
  </template>

  <script>
    class PmChatBox extends Polymer.Element {
      static get is() { return 'cs-chat-box'; }

      static get properties() {
        return {
          userId: String,
          open: {
            type: Boolean,
            value: false,
            notify: true,
            reflectToAttribute: true
          },
          messages: {
            type: Array,
            value: () => []
          },
          waiting: Boolean,
          draft: {
            type: String,
            value: ''
          },
          _textarea: Object,
          _shiftKeyDown: Boolean
        }
      }

      static get observers() {
        return [
          '_focus(open)',
          '_resize(messages.*)'
        ];
      }

      connectedCallback() {
        super.connectedCallback();

        this._textarea = this.$.textarea.inputElement.textarea;
        this._textarea.addEventListener('input', e => this._onInput(e));
        this._textarea.addEventListener('keydown', e => this._shiftKeyDown = e.shiftKey);
        this._textarea.addEventListener('keyup', e => this._shiftKeyDown = !e.shiftKey);
      }

      _toggle() {
        this.open = !this.open;
      }

      _focus(open = this.open) {
        if (open) {
          this.$.textarea.inputElement.textarea.focus();
        }
      }

      _onKeydown(e) {
        this._shiftKeyDown = e.shiftKey;
      }

      _onKeyup(e) {
        this._shiftKeyDown = !e.shiftKey;
      }

      _onInput(e) {
        switch (e.inputType) {
          case 'insertLineBreak': this._onEnter(e);
        }
      }

      _onEnter(e) {
        if (this._shiftKeyDown) {
          return;
        }

        e.preventDefault();
        this._send();
      }

      _send() {
        this.dispatchEvent(new CustomEvent('send-message', {
          bubbles: false,
          cancelable: false,
          detail: this.draft
        }));

        this.draft = '';
        this._focus();
      }

      _open() {
        this.open = true;
      }

      _messageClass(userId, message) {
        return userId === message.userId ? 'self' : '';
      }

      _resize() {
        this.$.messages.scrollTop = Number.MAX_SAFE_INTEGER;
      }
    }

    window.customElements.define(PmChatBox.is, PmChatBox);
  </script>
</dom-module>
