<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/paper-styles/color.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../shared/cs-styles.html">

<dom-module id="cs-chat-card">
  <template>
    <style include="cs-styles">
      :host {
        display: inline-block;
      }
      paper-card {
        max-width: 500px;
      }
      .header {
        @apply --paper-font-headline;
      }
    </style>
    <paper-card image=[[image]]>
      <div class="card-content">
        <div class="header">[[title]]</div>
        <p class="cafe-light">[[description]]</p>
      </div>
      <div class="card-actions">
        <div class="horizontal justified">
          <paper-icon-button icon="icons:event"></paper-icon-button>
          <paper-button>5:30PM</paper-button>
        </div>
      </div>
    </paper-card>
  </template>

  <script>
    class PmChatCard extends Polymer.Element {
      static get is() { return 'cs-chat-card'; }

      static get properties() {
        return {
          title: Text,
          image: Text,
          description: Text
        }
      }
    }

    window.customElements.define(PmChatCard.is, PmChatCard);
  </script>
</dom-module>
